*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;

    footer{
        height: auto;
        width: 100%;
        background-color: #000000;
        text-align: center;
        color: #fff;
        text-decoration: none;
        bottom: 0;
    
    }
    
    footer p{
        font-size: 30px;
        margin-bottom: 20px;
    }
}
