
:root {

    --color_primario: #96f7d3;
     --color_primario_suave: #b3f9e0;
     --color_blanco: #fff;
     --altura_header: 150px;
     --padding_left_right: 2rem;
     --ancho_maximo: 1200px;
 } f


 a{
     text-decoration: none;
  
 }
 ol,ul{
     list-style: none;
 }
 .header {
     height: var(--altura_header);
     background-color: var(--color_primario);
 }
 .navbar {
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding: 0 var(--padding_left_right);
 }
 .menu_hamburguesa{
     display: none;
 }
 .menu_hamburguesa:checked + .ul_links {
     height: calc(100vh - var(--altura_header));
 }
 
 .list_icon {
     color: black;
     cursor: pointer;
 }
 .ul_links {
     width: 100%;
     background-color: var(--color_primario_suave);
     position: absolute;
     z-index: 1;
     top: var(--altura_header);
     left: 0;
     height: 0;
     overflow: hidden;
     /* height: calc(100vh - var(--altura_header)); */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 3rem;
     transition: all .3s;
 }
 
 .link {
     font-size: 50px;
     color: black;
 }
 
 @media (min-width:768px){
     .label_hamburguesa {
         display: none;
     }
     .ul_links{
         position: static;
         width: auto;
         height: auto;
         flex-direction: row;
         gap: 2rem;
         margin-top: -50px;
         margin-left: -150px;
     }
     .link{
         font-size: 1rem;
         transition: all .3s;
         padding: .2rem .7rem;
     }
     a:hover{
         background-color: white;
     }
 }
 
 @media (min-width:1200px){
     .label_hamburguesa {
         display: none;
     }
     .ul_links{
         position: static;
         width: auto;
         height: auto;
         flex-direction: row;
         gap: 2rem;
         margin-top: -50px;
         margin-left: -150px;
         
         a{
             font-size: 25px;
         }
     }
 }


 .d-block{
    height: 500px;
 }

@media (min-width:768px) {

    .d-block{
        height: 900px;
    }
    
}

@media (min-width:1300px) {

    .d-block{
        height: 1100px;
    }
    
}


 main{
.H12Index{
    text-align: center;
    padding: 20px;

} 
 }

@media (min-width:1621px){
    .H12Index{
        padding: 50px;
    }
}

footer{
    height: auto;
    width: 100%;
    background-color: #000000;
    text-align: center;
    color: #fff;
    text-decoration: none;

    p{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .redes i{
        color: #fff;
        font-size: 50px;
        letter-spacing: 15px;
        
    }
    
    footer a:hover{
        color: #c0ecf6;


    }
    


}
