body{
    display: flex;
    flex-direction: column;

    h1{
        font-size: 50px;
        padding: 40px;
        text-align: center;
    }

.ImgGoogleReseñas{
        display: flex;
        justify-content: center;
        padding: 20px;
        width: 100%;
        max-width: 768px;
}


.Reseñas{
    margin: 10px;

    .ReseñasImg1{
        border: 2px  solid black;
        width: 100%;
        max-width: 760px;
    }

    .ReseñasImg2{
        border: 2px  solid black;
        width: 100%;
        max-width: 760px;
    }
    .ReseñasImg3{
        border: 2px  solid black;
        width: 100%;
        max-width: 760px;
    }
    .ReseñasImg4{
        border: 2px  solid black;
        width: 100%;
        max-width: 760px;
    }
    .ReseñasImg5{
        border: 2px  solid black;
        width: 100%;
        max-width: 760px;
    }

    .ReseñasImg6{
        border: 2px  solid black;
        width: 100%;
        max-width: 760px;
    }
}

@media (min-width:768px){
    .Reseñas{
        .ReseñasImg1{
            border: 2px  solid black;
            height: 30%;
            width: 50%;
            margin: 40px;
            float: left;
        }
    
        .ReseñasImg2{
            border: 2px  solid black;
            height: 30%;
            width: 50%;
            margin: 40px;
            float: right;
        }
        .ReseñasImg3{
            border: 2px  solid black;
            height: 30%;
            width: 50%;
            margin: 40px;
            float: left;
        }
    
        .ReseñasImg4{
            border: 2px  solid black;
            height: 30%;
            width: 50%;
            margin: 40px;
            float: right;
        }
        .ReseñasImg5{
            border: 2px  solid black;
            height: 30%;
            width: 50%;
            margin: 40px;
            float: left;
            }

                 
        .ReseñasImg6{
            border: 2px solid black;
            height: 30%;
            width: 50%;
            margin: 40px;
            float: right;

        }
    }
}

footer{
    height: auto;
    width: 100%;
    background-color: #000000;
    text-align: center;
    color: #fff;
    text-decoration: none;

    p{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .redes i{
        color: #fff;
        font-size: 50px;
        letter-spacing: 15px;
        
    }
    
    footer a:hover{
        color: #c0ecf6;


    }
    


}

}

        
        
 